<div  id="first">

<nav>
  <ul>
    <a routerLink="/first-component" routerLinkActive="active">Monitoring</a>
    <br>
    <a>Managed Elemant</a>
    <br>
    <a>Network Map</a>
    <br>
    <a>Services</a>
    <br>
    <a>Configurations</a>
    <br>
    <a>Telemetry</a>
    <br>
    <a>Tasks</a>
    <br>
    <a>Jobs</a>
    <br>
    <a>Event</a>
    <br>
    <a>Notifications</a>
    <br>
    <a>System Health</a>
    <br>
    <a routerLink="/second-component" routerLinkActive="active">Settings</a>

  </ul>
</nav>
</div>
<div id="second">
<router-outlet></router-outlet>
</div>

<script src='https://kit.fontawesome.com/a076d05399.js'></script>